section.hero
  div.hero__headline
    div.headline__wrapper
      object.headline__logo(
        type='image/svg+xml'
        data='img/logo.svg'
        data-aos='fade-up'
        data-aos-anchor='.hero'
      )
      div.headline__space(
        data-aos='fade-up'
        data-aos-anchor='.hero'
      )
        h2 2016.12.29 コミックマーケット91
        h1 東T-08b くらげりうむ。
  div.hero__bg.hero__bg--left(
    data-aos='fade-right'
    data-aos-delay='750'
    data-aos-anchor='.hero'
  )
    img(src='img/hero1.png')
  div.hero__bg.hero__bg--right(
    data-aos='fade-left'
    data-aos-delay='750'
    data-aos-anchor='.hero'
  )
    img(src='img/hero2.png')
